* {
  font-family: Helvetica, Arial, sans-serif;
  margin     : 0;
}

html,
body {
  height         : 100vh;
  width          : 100vw;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width : 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-button {
    width : 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background   : #e1e1e1;
    border       : 0px none #ffffff;
    border-radius: 17px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }

  ::-webkit-scrollbar-track {
    background   : #666666;
    border       : 0px none #ffffff;
    border-radius: 9px;
  }

  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }

  ::-webkit-scrollbar-track:active {
    background: #333333;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

main {
  width: 100%;
}

.m {
  &t {
    &-1 {
      margin-top: 5px;
    }

    &-5 {
      margin-top: 20px;
    }
  }

  &b {
    &-1 {
      margin-bottom: 5px;
    }

    &-5 {
      margin-bottom: 20px;
    }
  }
}

.pointer {
  cursor: pointer;
}